* {

  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Alfa Slab One', cursive;
}

button {
  font-family: 'Alfa Slab One', cursive;
}

body,
html {
  height: 100%;
}

.bg {
  background-image: url(images/background.jpg);
  height: 300%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.banner {

  font-family: 'Alfa Slab One', cursive;

}

.subtitle {

  font-family: fantasy;
}

.my-menu {
  /*Sets all the content of dropdown div to center*/
  text-align: center;
}

.dropdown {
  width: 100%;
}

.dropdown-trigger {
  width: 100%
}

.button2 {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between
}

.card {
  background-color: rgba(238, 238, 238, 0.6);
}